.tag {
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 12px;
    font-family: AvenirNextBold;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
}