.form {
    border-radius: 16px;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 32px 64px;
    flex: 1;
}

.form h2 {
    color: #212121;
    font-size: 24px;
    font-weight: 400;
}